{"openapi":"3.0.3","info":{"title":"Common Models","version":"1.0.1"},"servers":[{"url":"https://api.integrationos.com/v1/unified"}],"paths":{"/customers/{id}":{"summary":"Get a single record","get":{"tags":["Customers"],"summary":"Get customers","description":"Get a single customers record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string","minLength":30,"maxLength":50},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure","minLength":30,"maxLength":50},"statusCode":{"type":"integer","format":"int32","enum":[200,400,500]},"unified":{"type":"object","properties":{"id":{"type":"string","format":"id"},"title":{"type":"string","format":"title"},"fullName":{"type":"string","format":"fullName"},"firstName":{"type":"string","format":"firstName"},"middleName":{"type":"string","format":"middleName"},"lastName":{"type":"string","format":"lastName"},"email":{"type":"string","format":"email"},"phoneNumber":{"type":"string","format":"phoneNumber"},"dateOfBirth":{"type":"number","format":"1234567890"},"addresses":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object"},"customFields":{"type":"array","items":{"type":"object"}},"subdivisionCode":{"type":"string"}}}},"defaultAddress":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"altitude":{"type":"number"},"accuracy":{"type":"number"},"altitudeAccuracy":{"type":"number"},"heading":{"type":"number"},"speed":{"type":"number"},"timestamp":{"type":"number"}}},"customFields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"fieldName":{"type":"string"},"fieldValue":{"type":"string"},"fieldType":{"type":"string","format":"","enum":["text","number","date","boolean","enum","json","array"]}}}},"subdivisionCode":{"type":"string"}}},"company":{"type":"string","format":"company"},"companyId":{"type":"string","format":"companyId"},"currency":{"type":"string","format":"currency"},"notes":{"type":"string","format":"notes"},"createdAt":{"type":"number","format":"1234567890"},"updatedAt":{"type":"number","format":"1234567890"},"status":{"type":"string","format":"status","enum":["active","inactive","archived"]},"customerSegment":{"type":"string","format":"customerSegment"},"customerType":{"type":"string","format":"customerType","enum":["retail","wholesale"]},"loyaltyProgramMembership":{"type":"string","format":"loyaltyProgramMembership"},"preferredContactMethod":{"type":"string","format":"preferredContactMethod","enum":["email","phone","mail","sms"]},"tags":{"type":"array","items":{"type":"string"}},"metadata":{"type":"string","format":"metadata"},"socialProfiles":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","format":"","enum":["facebook","twitter","linkedin","instagram","tiktok","pinterest","youtube","other"]},"username":{"type":"string"},"displayName":{"type":"string"},"url":{"type":"string"},"avatarUrl":{"type":"string"},"email":{"type":"string"},"additionalInfo":{"type":"object"},"createdAt":{"type":"number"},"updatedAt":{"type":"number"},"active":{"type":"boolean"},"deleted":{"type":"boolean"}}}},"source":{"type":"string","format":"source"}}},"passthrough":{"type":"object"},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"},"key":{"type":"string","format":"string"}}},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | update | create | delete"},"commonModel":{"type":"string","format":"string"},"commonModelVersion":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"hash":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"totalTransactions":{"type":"integer","format":"int32"}}}}},"example":{"status":"success","statusCode":200,"unified":{"id":"5a8a480d","firstName":"John","lastName":"Doe","company":"Acme Corp","email":"john.doe@acmecorp.com","emails":["john.doe@acmecorp.com","johndoe@example.com"],"phone":"555-322-2112","phones":["555-322-2112","555-322-2113"],"address":{"id":"4ec965a1","contactId":"5a8a480d","accountId":"93b2c727","firstName":"John","lastName":"Doe","name":"John Doe","companyName":"Acme Corp","email":"john.doe@acmecorp.com","phone":"555-322-2112","street":"123 Elm Street","addressLine2":"Suite 501","city":"Metropolis","province":"NY","region":"Northeast","postalCode":"12345","postalCodeExtension":"6789","country":"United States","countryCode":"US","type":"work","geoLocation":{"latitude":40.712776,"longitude":-74.005974,"altitude":30.5,"accuracy":15,"altitudeAccuracy":10,"heading":0,"speed":0,"timestamp":"2023-04-05T08:00:00Z"},"customFields":[{"id":"7c9e6679","fieldName":"ParkingSpot","fieldValue":"C4","fieldType":"text"}],"subdivisionCode":"US-NY"},"addresses":[{"id":"3fe697a1","contactId":"5a8a480d","accountId":"93b2c727","firstName":"John","lastName":"Doe","name":"John Doe","companyName":"Acme Corp","email":"john.doe@acmecorp.com","phone":"555-322-2112","street":"456 Oak Avenue","addressLine2":"","city":"Smallville","province":"KS","region":"Midwest","postalCode":"67891","postalCodeExtension":"","country":"United States","countryCode":"US","type":"home","geoLocation":{"latitude":37.687176,"longitude":-97.330053,"altitude":400.3,"accuracy":10,"altitudeAccuracy":5,"heading":90,"speed":36,"timestamp":"2023-04-05T08:30:00Z"},"customFields":[],"subdivisionCode":"US-KS"}],"birthday":"1985-06-15T00:00:00Z","relationship":"Customer","note":"Important client with VIP status.","notes":{"id":"b1bc5162","title":"Meeting Notes","content":"Discussed product roadmap and future collaboration.","createdAt":"2023-04-02T10:00:00Z","updatedAt":"2023-04-02T15:00:00Z","lastAccessed":"2023-04-02T16:00:00Z","reminder":"2023-04-08T09:00:00Z","color":"#FF5733","priority":"high","author":{"id":"2f5ae96c","firstName":"Jane","lastName":"Smith","email":"jane.smith@acmecorp.com","username":"janesmith","password":"securepassword123","gender":"Female","dateOfBirth":"1990-04-23T00:00:00Z","phoneNumber":"555-314-1592","isActive":true,"lastLogin":"2023-04-04T07:30:00Z","createdAt":"2022-10-01T00:00:00Z","updatedAt":"2023-01-20T00:00:00Z","addresses":[],"roles":["User"],"preferences":{"id":"f9bf229f","language":"en-US","currency":"USD","timeZone":"America/New_York","communications":"Email"},"bio":"Senior Account Manager with a passion for client success.","website":"http://www.janesmith.com","socialLinks":[],"status":"Verified","sso":[],"paymentMethods":{"id":"66b5ed4e","type":"CreditCard","details":"Visa ending in 1234","isDefault":true}},"tags":["important","VIP"],"attachments":[{"id":"a12b543d","fileName":"Q2_Product_Roadmap.pdf","fileSize":854721,"fileType":"application/pdf","url":"http://www.example.com/q2_roadmap.pdf","thumbnailUrl":"http://www.example.com/thumbnails/q2_roadmap.jpg","previewUrl":"http://www.example.com/previews/q2_roadmap.pdf","content":"base64 encoded content...","createdAt":"2023-04-01T12:00:00Z","updatedAt":"2023-04-01T12:30:00Z","metadata":[{"id":"b53d1ec4","key":"type","value":"pdf","type":"String","createdAt":"2023-04-01T12:00:00Z","updatedAt":"2023-04-01T12:30:00Z","entityId":"a12b543d","entityType":"attachment"}],"associatedWith":{"id":"7b8c0177","type":"Customer Relationship Management"},"permissions":{"id":"c8f2ac28","level":"read-write","assignedTo":"5a8a480d","effectiveDate":"2023-04-01T00:00:00Z"}}],"sharedWith":[{"id":"2c9ad45f","firstName":"Emily","lastName":"Jones","email":"emily.jones@example.com","username":"emjones","password":"hello12345","isActive":true,"lastLogin":"2023-04-03T08:30:00Z","createdAt":"2021-09-15T00:00:00Z","updatedAt":"2023-02-11T13:45:00Z","roles":["Admin"],"preferences":{"id":"4f3ad8e2","language":"en-US","currency":"USD","timeZone":"America/Chicago","communications":"Email"}}],"visibility":"public","status":"active","metadata":["meeting","product","collaboration"]},"tags":["Client","VIP","Preferred"],"websites":["http://www.johndoe.com","http://www.acmecorp.com"],"socialProfiles":[{"type":"linkedin","username":"john.doe","displayName":"John Doe","url":"http://www.linkedin.com/in/johndoe","avatarUrl":"http://www.linkedin.com/avatar/johndoe.jpg","email":"john.doe@acmecorp.com","createdAt":"2020-05-01T08:00:00Z","updatedAt":"2023-04-01T08:00:00Z","active":true,"deleted":false}],"customFields":[{"id":"9acb4468","fieldName":"SubscriptionLevel","fieldValue":"Premium","fieldType":"enum"}]},"passthrough":{},"meta":{"timestamp":1704752424398,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getOne","commonModel":"Customers","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}},"x-speakeasy-name-override":"get"},"delete":{"tags":["Customers"],"summary":"Delete customers","description":"Delete a single customers record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string"},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure","minLength":30,"maxLength":50},"statusCode":{"type":"integer","format":"int32","enum":[200,400,500]},"unified":{"type":"object"},"passthrough":{"type":"object"},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"},"key":{"type":"string","format":"string"}}},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | update | create | delete"},"commonModel":{"type":"string","format":"string"},"commonModelVersion":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"hash":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"totalTransactions":{"type":"integer","format":"int32"}}}}},"example":{"status":"success","statusCode":200,"unified":{},"passthrough":{},"meta":{"timestamp":1704752424399,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"delete","commonModel":"Customers","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}},"x-speakeasy-name-override":"delete"},"patch":{"tags":["Customers"],"summary":"Update customers","description":"Update a single customers record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string"},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"id"},"title":{"type":"string","format":"title"},"fullName":{"type":"string","format":"fullName"},"firstName":{"type":"string","format":"firstName"},"middleName":{"type":"string","format":"middleName"},"lastName":{"type":"string","format":"lastName"},"email":{"type":"string","format":"email"},"phoneNumber":{"type":"string","format":"phoneNumber"},"dateOfBirth":{"type":"number","format":"1234567890"},"addresses":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object"},"customFields":{"type":"array","items":{"type":"object"}},"subdivisionCode":{"type":"string"}}}},"defaultAddress":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"altitude":{"type":"number"},"accuracy":{"type":"number"},"altitudeAccuracy":{"type":"number"},"heading":{"type":"number"},"speed":{"type":"number"},"timestamp":{"type":"number"}}},"customFields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"fieldName":{"type":"string"},"fieldValue":{"type":"string"},"fieldType":{"type":"string","format":"","enum":["text","number","date","boolean","enum","json","array"]}}}},"subdivisionCode":{"type":"string"}}},"company":{"type":"string","format":"company"},"companyId":{"type":"string","format":"companyId"},"currency":{"type":"string","format":"currency"},"notes":{"type":"string","format":"notes"},"createdAt":{"type":"number","format":"1234567890"},"updatedAt":{"type":"number","format":"1234567890"},"status":{"type":"string","format":"status","enum":["active","inactive","archived"]},"customerSegment":{"type":"string","format":"customerSegment"},"customerType":{"type":"string","format":"customerType","enum":["retail","wholesale"]},"loyaltyProgramMembership":{"type":"string","format":"loyaltyProgramMembership"},"preferredContactMethod":{"type":"string","format":"preferredContactMethod","enum":["email","phone","mail","sms"]},"tags":{"type":"array","items":{"type":"string"}},"metadata":{"type":"string","format":"metadata"},"socialProfiles":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","format":"","enum":["facebook","twitter","linkedin","instagram","tiktok","pinterest","youtube","other"]},"username":{"type":"string"},"displayName":{"type":"string"},"url":{"type":"string"},"avatarUrl":{"type":"string"},"email":{"type":"string"},"additionalInfo":{"type":"object"},"createdAt":{"type":"number"},"updatedAt":{"type":"number"},"active":{"type":"boolean"},"deleted":{"type":"boolean"}}}},"source":{"type":"string","format":"source"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure","minLength":30,"maxLength":50},"statusCode":{"type":"integer","format":"int32","enum":[200,400,500]},"unified":{"type":"object","properties":{"count":{"type":"integer","format":"int32"}}},"passthrough":{"type":"object"},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"},"key":{"type":"string","format":"string"}}},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | update | create | delete"},"commonModel":{"type":"string","format":"string"},"commonModelVersion":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"hash":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"totalTransactions":{"type":"integer","format":"int32"}}}}},"example":{"status":"success","statusCode":200,"unified":{},"passthrough":{},"meta":{"timestamp":1704752424399,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"update","commonModel":"Customers","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}},"x-speakeasy-name-override":"update"},"parameters":[{"in":"header","name":"X-INTEGRATIONOS-SECRET","description":"IntegrationOS API key","required":true,"deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"header","name":"X-INTEGRATIONOS-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"type":"string","format":"string"}}]},"/customers":{"description":"List records","get":{"tags":["Customers"],"summary":"List customers","description":"Get all customers records","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure","minLength":30,"maxLength":50},"statusCode":{"type":"integer","format":"int32","enum":[200,400,500]},"unified":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string","format":"id"},"title":{"type":"string","format":"title"},"fullName":{"type":"string","format":"fullName"},"firstName":{"type":"string","format":"firstName"},"middleName":{"type":"string","format":"middleName"},"lastName":{"type":"string","format":"lastName"},"email":{"type":"string","format":"email"},"phoneNumber":{"type":"string","format":"phoneNumber"},"dateOfBirth":{"type":"number","format":"1234567890"},"addresses":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object"},"customFields":{"type":"array","items":{"type":"object"}},"subdivisionCode":{"type":"string"}}}},"defaultAddress":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"altitude":{"type":"number"},"accuracy":{"type":"number"},"altitudeAccuracy":{"type":"number"},"heading":{"type":"number"},"speed":{"type":"number"},"timestamp":{"type":"number"}}},"customFields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"fieldName":{"type":"string"},"fieldValue":{"type":"string"},"fieldType":{"type":"string","format":"","enum":["text","number","date","boolean","enum","json","array"]}}}},"subdivisionCode":{"type":"string"}}},"company":{"type":"string","format":"company"},"companyId":{"type":"string","format":"companyId"},"currency":{"type":"string","format":"currency"},"notes":{"type":"string","format":"notes"},"createdAt":{"type":"number","format":"1234567890"},"updatedAt":{"type":"number","format":"1234567890"},"status":{"type":"string","format":"status","enum":["active","inactive","archived"]},"customerSegment":{"type":"string","format":"customerSegment"},"customerType":{"type":"string","format":"customerType","enum":["retail","wholesale"]},"loyaltyProgramMembership":{"type":"string","format":"loyaltyProgramMembership"},"preferredContactMethod":{"type":"string","format":"preferredContactMethod","enum":["email","phone","mail","sms"]},"tags":{"type":"array","items":{"type":"string"}},"metadata":{"type":"string","format":"metadata"},"socialProfiles":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","format":"","enum":["facebook","twitter","linkedin","instagram","tiktok","pinterest","youtube","other"]},"username":{"type":"string"},"displayName":{"type":"string"},"url":{"type":"string"},"avatarUrl":{"type":"string"},"email":{"type":"string"},"additionalInfo":{"type":"object"},"createdAt":{"type":"number"},"updatedAt":{"type":"number"},"active":{"type":"boolean"},"deleted":{"type":"boolean"}}}},"source":{"type":"string","format":"source"}}}},"passthrough":{"type":"object"},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"},"key":{"type":"string","format":"string"}}},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | update | create | delete"},"commonModel":{"type":"string","format":"string"},"commonModelVersion":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"hash":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"totalTransactions":{"type":"integer","format":"int32"}}},"pagination":{"type":"object","properties":{"cursor":{"type":"string","format":"string"},"limit":{"type":"integer","format":"int32"}}}}},"example":{"status":"success","statusCode":200,"unified":[{"id":"5a8a480d","firstName":"John","lastName":"Doe","company":"Acme Corp","email":"john.doe@acmecorp.com","emails":["john.doe@acmecorp.com","johndoe@example.com"],"phone":"555-322-2112","phones":["555-322-2112","555-322-2113"],"address":{"id":"4ec965a1","contactId":"5a8a480d","accountId":"93b2c727","firstName":"John","lastName":"Doe","name":"John Doe","companyName":"Acme Corp","email":"john.doe@acmecorp.com","phone":"555-322-2112","street":"123 Elm Street","addressLine2":"Suite 501","city":"Metropolis","province":"NY","region":"Northeast","postalCode":"12345","postalCodeExtension":"6789","country":"United States","countryCode":"US","type":"work","geoLocation":{"latitude":40.712776,"longitude":-74.005974,"altitude":30.5,"accuracy":15,"altitudeAccuracy":10,"heading":0,"speed":0,"timestamp":"2023-04-05T08:00:00Z"},"customFields":[{"id":"7c9e6679","fieldName":"ParkingSpot","fieldValue":"C4","fieldType":"text"}],"subdivisionCode":"US-NY"},"addresses":[{"id":"3fe697a1","contactId":"5a8a480d","accountId":"93b2c727","firstName":"John","lastName":"Doe","name":"John Doe","companyName":"Acme Corp","email":"john.doe@acmecorp.com","phone":"555-322-2112","street":"456 Oak Avenue","addressLine2":"","city":"Smallville","province":"KS","region":"Midwest","postalCode":"67891","postalCodeExtension":"","country":"United States","countryCode":"US","type":"home","geoLocation":{"latitude":37.687176,"longitude":-97.330053,"altitude":400.3,"accuracy":10,"altitudeAccuracy":5,"heading":90,"speed":36,"timestamp":"2023-04-05T08:30:00Z"},"customFields":[],"subdivisionCode":"US-KS"}],"birthday":"1985-06-15T00:00:00Z","relationship":"Customer","note":"Important client with VIP status.","notes":{"id":"b1bc5162","title":"Meeting Notes","content":"Discussed product roadmap and future collaboration.","createdAt":"2023-04-02T10:00:00Z","updatedAt":"2023-04-02T15:00:00Z","lastAccessed":"2023-04-02T16:00:00Z","reminder":"2023-04-08T09:00:00Z","color":"#FF5733","priority":"high","author":{"id":"2f5ae96c","firstName":"Jane","lastName":"Smith","email":"jane.smith@acmecorp.com","username":"janesmith","password":"securepassword123","gender":"Female","dateOfBirth":"1990-04-23T00:00:00Z","phoneNumber":"555-314-1592","isActive":true,"lastLogin":"2023-04-04T07:30:00Z","createdAt":"2022-10-01T00:00:00Z","updatedAt":"2023-01-20T00:00:00Z","addresses":[],"roles":["User"],"preferences":{"id":"f9bf229f","language":"en-US","currency":"USD","timeZone":"America/New_York","communications":"Email"},"bio":"Senior Account Manager with a passion for client success.","website":"http://www.janesmith.com","socialLinks":[],"status":"Verified","sso":[],"paymentMethods":{"id":"66b5ed4e","type":"CreditCard","details":"Visa ending in 1234","isDefault":true}},"tags":["important","VIP"],"attachments":[{"id":"a12b543d","fileName":"Q2_Product_Roadmap.pdf","fileSize":854721,"fileType":"application/pdf","url":"http://www.example.com/q2_roadmap.pdf","thumbnailUrl":"http://www.example.com/thumbnails/q2_roadmap.jpg","previewUrl":"http://www.example.com/previews/q2_roadmap.pdf","content":"base64 encoded content...","createdAt":"2023-04-01T12:00:00Z","updatedAt":"2023-04-01T12:30:00Z","metadata":[{"id":"b53d1ec4","key":"type","value":"pdf","type":"String","createdAt":"2023-04-01T12:00:00Z","updatedAt":"2023-04-01T12:30:00Z","entityId":"a12b543d","entityType":"attachment"}],"associatedWith":{"id":"7b8c0177","type":"Customer Relationship Management"},"permissions":{"id":"c8f2ac28","level":"read-write","assignedTo":"5a8a480d","effectiveDate":"2023-04-01T00:00:00Z"}}],"sharedWith":[{"id":"2c9ad45f","firstName":"Emily","lastName":"Jones","email":"emily.jones@example.com","username":"emjones","password":"hello12345","isActive":true,"lastLogin":"2023-04-03T08:30:00Z","createdAt":"2021-09-15T00:00:00Z","updatedAt":"2023-02-11T13:45:00Z","roles":["Admin"],"preferences":{"id":"4f3ad8e2","language":"en-US","currency":"USD","timeZone":"America/Chicago","communications":"Email"}}],"visibility":"public","status":"active","metadata":["meeting","product","collaboration"]},"tags":["Client","VIP","Preferred"],"websites":["http://www.johndoe.com","http://www.acmecorp.com"],"socialProfiles":[{"type":"linkedin","username":"john.doe","displayName":"John Doe","url":"http://www.linkedin.com/in/johndoe","avatarUrl":"http://www.linkedin.com/avatar/johndoe.jpg","email":"john.doe@acmecorp.com","createdAt":"2020-05-01T08:00:00Z","updatedAt":"2023-04-01T08:00:00Z","active":true,"deleted":false}],"customFields":[{"id":"9acb4468","fieldName":"SubscriptionLevel","fieldValue":"Premium","fieldType":"enum"}]}],"passthrough":{},"pagination":{"cursor":"23e6534fa96e810b3","limit":100},"meta":{"timestamp":1704752424399,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getMany","commonModel":"Customers","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}},"x-speakeasy-name-override":"list"},"post":{"tags":["Customers"],"summary":"Create customers","description":"Create a single customers record","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"string","format":"id"},"title":{"type":"string","format":"title"},"fullName":{"type":"string","format":"fullName"},"firstName":{"type":"string","format":"firstName"},"middleName":{"type":"string","format":"middleName"},"lastName":{"type":"string","format":"lastName"},"email":{"type":"string","format":"email"},"phoneNumber":{"type":"string","format":"phoneNumber"},"dateOfBirth":{"type":"number","format":"1234567890"},"addresses":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object"},"customFields":{"type":"array","items":{"type":"object"}},"subdivisionCode":{"type":"string"}}}},"defaultAddress":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"altitude":{"type":"number"},"accuracy":{"type":"number"},"altitudeAccuracy":{"type":"number"},"heading":{"type":"number"},"speed":{"type":"number"},"timestamp":{"type":"number"}}},"customFields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"fieldName":{"type":"string"},"fieldValue":{"type":"string"},"fieldType":{"type":"string","format":"","enum":["text","number","date","boolean","enum","json","array"]}}}},"subdivisionCode":{"type":"string"}}},"company":{"type":"string","format":"company"},"companyId":{"type":"string","format":"companyId"},"currency":{"type":"string","format":"currency"},"notes":{"type":"string","format":"notes"},"createdAt":{"type":"number","format":"1234567890"},"updatedAt":{"type":"number","format":"1234567890"},"status":{"type":"string","format":"status","enum":["active","inactive","archived"]},"customerSegment":{"type":"string","format":"customerSegment"},"customerType":{"type":"string","format":"customerType","enum":["retail","wholesale"]},"loyaltyProgramMembership":{"type":"string","format":"loyaltyProgramMembership"},"preferredContactMethod":{"type":"string","format":"preferredContactMethod","enum":["email","phone","mail","sms"]},"tags":{"type":"array","items":{"type":"string"}},"metadata":{"type":"string","format":"metadata"},"socialProfiles":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","format":"","enum":["facebook","twitter","linkedin","instagram","tiktok","pinterest","youtube","other"]},"username":{"type":"string"},"displayName":{"type":"string"},"url":{"type":"string"},"avatarUrl":{"type":"string"},"email":{"type":"string"},"additionalInfo":{"type":"object"},"createdAt":{"type":"number"},"updatedAt":{"type":"number"},"active":{"type":"boolean"},"deleted":{"type":"boolean"}}}},"source":{"type":"string","format":"source"}},"required":["id","title","fullName","firstName","middleName","lastName","email","phoneNumber","dateOfBirth","addresses","defaultAddress","company","companyId","currency","notes","createdAt","updatedAt","status","customerSegment","customerType","loyaltyProgramMembership","preferredContactMethod","tags","metadata","socialProfiles","source"]}}},"required":true},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure","minLength":30,"maxLength":50},"statusCode":{"type":"integer","format":"int32","enum":[200,400,500]},"unified":{"type":"object","properties":{"id":{"type":"string","format":"id"},"title":{"type":"string","format":"title"},"fullName":{"type":"string","format":"fullName"},"firstName":{"type":"string","format":"firstName"},"middleName":{"type":"string","format":"middleName"},"lastName":{"type":"string","format":"lastName"},"email":{"type":"string","format":"email"},"phoneNumber":{"type":"string","format":"phoneNumber"},"dateOfBirth":{"type":"number","format":"1234567890"},"addresses":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object"},"customFields":{"type":"array","items":{"type":"object"}},"subdivisionCode":{"type":"string"}}}},"defaultAddress":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"altitude":{"type":"number"},"accuracy":{"type":"number"},"altitudeAccuracy":{"type":"number"},"heading":{"type":"number"},"speed":{"type":"number"},"timestamp":{"type":"number"}}},"customFields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"fieldName":{"type":"string"},"fieldValue":{"type":"string"},"fieldType":{"type":"string","format":"","enum":["text","number","date","boolean","enum","json","array"]}}}},"subdivisionCode":{"type":"string"}}},"company":{"type":"string","format":"company"},"companyId":{"type":"string","format":"companyId"},"currency":{"type":"string","format":"currency"},"notes":{"type":"string","format":"notes"},"createdAt":{"type":"number","format":"1234567890"},"updatedAt":{"type":"number","format":"1234567890"},"status":{"type":"string","format":"status","enum":["active","inactive","archived"]},"customerSegment":{"type":"string","format":"customerSegment"},"customerType":{"type":"string","format":"customerType","enum":["retail","wholesale"]},"loyaltyProgramMembership":{"type":"string","format":"loyaltyProgramMembership"},"preferredContactMethod":{"type":"string","format":"preferredContactMethod","enum":["email","phone","mail","sms"]},"tags":{"type":"array","items":{"type":"string"}},"metadata":{"type":"string","format":"metadata"},"socialProfiles":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","format":"","enum":["facebook","twitter","linkedin","instagram","tiktok","pinterest","youtube","other"]},"username":{"type":"string"},"displayName":{"type":"string"},"url":{"type":"string"},"avatarUrl":{"type":"string"},"email":{"type":"string"},"additionalInfo":{"type":"object"},"createdAt":{"type":"number"},"updatedAt":{"type":"number"},"active":{"type":"boolean"},"deleted":{"type":"boolean"}}}},"source":{"type":"string","format":"source"}}},"passthrough":{"type":"object"},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"},"key":{"type":"string","format":"string"}}},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | update | create | delete"},"commonModel":{"type":"string","format":"string"},"commonModelVersion":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"hash":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"totalTransactions":{"type":"integer","format":"int32"}}}}},"example":{"status":"success","statusCode":200,"unified":{"id":"5a8a480d","firstName":"John","lastName":"Doe","company":"Acme Corp","email":"john.doe@acmecorp.com","emails":["john.doe@acmecorp.com","johndoe@example.com"],"phone":"555-322-2112","phones":["555-322-2112","555-322-2113"],"address":{"id":"4ec965a1","contactId":"5a8a480d","accountId":"93b2c727","firstName":"John","lastName":"Doe","name":"John Doe","companyName":"Acme Corp","email":"john.doe@acmecorp.com","phone":"555-322-2112","street":"123 Elm Street","addressLine2":"Suite 501","city":"Metropolis","province":"NY","region":"Northeast","postalCode":"12345","postalCodeExtension":"6789","country":"United States","countryCode":"US","type":"work","geoLocation":{"latitude":40.712776,"longitude":-74.005974,"altitude":30.5,"accuracy":15,"altitudeAccuracy":10,"heading":0,"speed":0,"timestamp":"2023-04-05T08:00:00Z"},"customFields":[{"id":"7c9e6679","fieldName":"ParkingSpot","fieldValue":"C4","fieldType":"text"}],"subdivisionCode":"US-NY"},"addresses":[{"id":"3fe697a1","contactId":"5a8a480d","accountId":"93b2c727","firstName":"John","lastName":"Doe","name":"John Doe","companyName":"Acme Corp","email":"john.doe@acmecorp.com","phone":"555-322-2112","street":"456 Oak Avenue","addressLine2":"","city":"Smallville","province":"KS","region":"Midwest","postalCode":"67891","postalCodeExtension":"","country":"United States","countryCode":"US","type":"home","geoLocation":{"latitude":37.687176,"longitude":-97.330053,"altitude":400.3,"accuracy":10,"altitudeAccuracy":5,"heading":90,"speed":36,"timestamp":"2023-04-05T08:30:00Z"},"customFields":[],"subdivisionCode":"US-KS"}],"birthday":"1985-06-15T00:00:00Z","relationship":"Customer","note":"Important client with VIP status.","notes":{"id":"b1bc5162","title":"Meeting Notes","content":"Discussed product roadmap and future collaboration.","createdAt":"2023-04-02T10:00:00Z","updatedAt":"2023-04-02T15:00:00Z","lastAccessed":"2023-04-02T16:00:00Z","reminder":"2023-04-08T09:00:00Z","color":"#FF5733","priority":"high","author":{"id":"2f5ae96c","firstName":"Jane","lastName":"Smith","email":"jane.smith@acmecorp.com","username":"janesmith","password":"securepassword123","gender":"Female","dateOfBirth":"1990-04-23T00:00:00Z","phoneNumber":"555-314-1592","isActive":true,"lastLogin":"2023-04-04T07:30:00Z","createdAt":"2022-10-01T00:00:00Z","updatedAt":"2023-01-20T00:00:00Z","addresses":[],"roles":["User"],"preferences":{"id":"f9bf229f","language":"en-US","currency":"USD","timeZone":"America/New_York","communications":"Email"},"bio":"Senior Account Manager with a passion for client success.","website":"http://www.janesmith.com","socialLinks":[],"status":"Verified","sso":[],"paymentMethods":{"id":"66b5ed4e","type":"CreditCard","details":"Visa ending in 1234","isDefault":true}},"tags":["important","VIP"],"attachments":[{"id":"a12b543d","fileName":"Q2_Product_Roadmap.pdf","fileSize":854721,"fileType":"application/pdf","url":"http://www.example.com/q2_roadmap.pdf","thumbnailUrl":"http://www.example.com/thumbnails/q2_roadmap.jpg","previewUrl":"http://www.example.com/previews/q2_roadmap.pdf","content":"base64 encoded content...","createdAt":"2023-04-01T12:00:00Z","updatedAt":"2023-04-01T12:30:00Z","metadata":[{"id":"b53d1ec4","key":"type","value":"pdf","type":"String","createdAt":"2023-04-01T12:00:00Z","updatedAt":"2023-04-01T12:30:00Z","entityId":"a12b543d","entityType":"attachment"}],"associatedWith":{"id":"7b8c0177","type":"Customer Relationship Management"},"permissions":{"id":"c8f2ac28","level":"read-write","assignedTo":"5a8a480d","effectiveDate":"2023-04-01T00:00:00Z"}}],"sharedWith":[{"id":"2c9ad45f","firstName":"Emily","lastName":"Jones","email":"emily.jones@example.com","username":"emjones","password":"hello12345","isActive":true,"lastLogin":"2023-04-03T08:30:00Z","createdAt":"2021-09-15T00:00:00Z","updatedAt":"2023-02-11T13:45:00Z","roles":["Admin"],"preferences":{"id":"4f3ad8e2","language":"en-US","currency":"USD","timeZone":"America/Chicago","communications":"Email"}}],"visibility":"public","status":"active","metadata":["meeting","product","collaboration"]},"tags":["Client","VIP","Preferred"],"websites":["http://www.johndoe.com","http://www.acmecorp.com"],"socialProfiles":[{"type":"linkedin","username":"john.doe","displayName":"John Doe","url":"http://www.linkedin.com/in/johndoe","avatarUrl":"http://www.linkedin.com/avatar/johndoe.jpg","email":"john.doe@acmecorp.com","createdAt":"2020-05-01T08:00:00Z","updatedAt":"2023-04-01T08:00:00Z","active":true,"deleted":false}],"customFields":[{"id":"9acb4468","fieldName":"SubscriptionLevel","fieldValue":"Premium","fieldType":"enum"}]},"passthrough":{},"meta":{"timestamp":1704752424400,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"create","commonModel":"Customers","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}},"x-speakeasy-name-override":"create"},"parameters":[{"in":"header","name":"X-INTEGRATIONOS-SECRET","description":"IntegrationOS API key","required":true,"deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"header","name":"X-INTEGRATIONOS-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"type":"string","format":"string"}}]},"/customers/count":{"description":"Get count of records","get":{"tags":["Customers"],"summary":"Get customers count","description":"Get the count of customers records","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure","minLength":30,"maxLength":50},"statusCode":{"type":"integer","format":"int32","enum":[200,400,500]},"unified":{"type":"object","properties":{"count":{"type":"integer","format":"int32"}}},"passthrough":{"type":"object"},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"},"key":{"type":"string","format":"string"}}},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | update | create | delete"},"commonModel":{"type":"string","format":"string"},"commonModelVersion":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"hash":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"totalTransactions":{"type":"integer","format":"int32"}}}}},"example":{"status":"success","statusCode":200,"unified":{"count":1},"passthrough":{},"meta":{"timestamp":1704752424401,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getCount","commonModel":"Customers","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}},"x-speakeasy-name-override":"count"},"parameters":[{"in":"header","name":"X-INTEGRATIONOS-SECRET","description":"IntegrationOS API key","required":true,"deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"header","name":"X-INTEGRATIONOS-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"type":"string","format":"string"}}]},"/companies/{id}":{"summary":"Get a single record","get":{"tags":["Companies"],"summary":"Get companies","description":"Get a single companies record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string","minLength":30,"maxLength":50},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure","minLength":30,"maxLength":50},"statusCode":{"type":"integer","format":"int32","enum":[200,400,500]},"unified":{"type":"object","properties":{"id":{"type":"number","format":"id"},"name":{"type":"string","format":"name"},"legalName":{"type":"string","format":"legalName"},"type":{"type":"string","format":"type"},"industry":{"type":"string","format":"industry"},"address":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"altitude":{"type":"number"},"accuracy":{"type":"number"},"altitudeAccuracy":{"type":"number"},"heading":{"type":"number"},"speed":{"type":"number"},"timestamp":{"type":"number"}}},"customFields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"fieldName":{"type":"string"},"fieldValue":{"type":"string"},"fieldType":{"type":"string","format":"","enum":["text","number","date","boolean","enum","json","array"]}}}},"subdivisionCode":{"type":"string"}}},"phone":{"type":"string","format":"phone"},"email":{"type":"string","format":"email"},"website":{"type":"string","format":"website"},"foundedDate":{"type":"number","format":"1234567890"},"numberOfEmployees":{"type":"number","format":"numberOfEmployees"},"revenue":{"type":"number","format":"revenue"},"revenueCurrency":{"type":"string","format":"revenueCurrency"},"tags":{"type":"array","items":{"type":"string"}},"socialProfiles":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","format":"","enum":["facebook","twitter","linkedin","instagram","tiktok","pinterest","youtube","other"]},"username":{"type":"string"},"displayName":{"type":"string"},"url":{"type":"string"},"avatarUrl":{"type":"string"},"email":{"type":"string"},"additionalInfo":{"type":"object"},"createdAt":{"type":"number"},"updatedAt":{"type":"number"},"active":{"type":"boolean"},"deleted":{"type":"boolean"}}}},"logo":{"type":"string","format":"logo"},"description":{"type":"string","format":"description"},"stockSymbol":{"type":"string","format":"stockSymbol"},"parentCompanyId":{"type":"string","format":"parentCompanyId"},"additionalContacts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"company":{"type":"string"},"email":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"phone":{"type":"string"},"phones":{"type":"array","items":{"type":"string"}},"address":{"type":"object"},"addresses":{"type":"array","items":{"type":"object"}},"birthday":{"type":"number"},"relationship":{"type":"string"},"note":{"type":"string"},"notes":{"type":"object"},"tags":{"type":"array","items":{"type":"string"}},"websites":{"type":"array","items":{"type":"string"}},"socialProfiles":{"type":"array","items":{"type":"object"}},"customFields":{"type":"array","items":{"type":"object"}}}}},"incorporationCountry":{"type":"string","format":"incorporationCountry"},"incorporationDate":{"type":"number","format":"1234567890"},"taxId":{"type":"string","format":"taxId"},"regulatoryStatus":{"type":"string","format":"regulatoryStatus"},"dunsNumber":{"type":"string","format":"dunsNumber"}}},"passthrough":{"type":"object"},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"},"key":{"type":"string","format":"string"}}},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | update | create | delete"},"commonModel":{"type":"string","format":"string"},"commonModelVersion":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"hash":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"totalTransactions":{"type":"integer","format":"int32"}}}}},"example":{"status":"success","statusCode":200,"unified":{"id":1,"name":"Lannister Investments","legalName":"Lannister Holdings Inc.","type":"Private","industry":"Banking and Finance","address":{"id":"AD1002","contactId":"CT1002","accountId":"AC1002","firstName":"Cersei","lastName":"Lannister","name":"Casterly Rock Address","companyName":"Lannister Investments","email":"info@lannisterinvestments.wes","phone":"+1-202-555-0149","street":"1 Casterly Rock","addressLine2":"The Westerlands","city":"Lannisport","province":"West","region":"Westeros","postalCode":"90001","postalCodeExtension":"1234","country":"Westeros","countryCode":"WE","type":"work","geoLocation":{"latitude":35.2271,"longitude":-80.8431,"altitude":200,"accuracy":15,"altitudeAccuracy":10,"heading":90,"speed":10,"timestamp":"2023-04-12T08:00:00Z"},"customFields":[{"id":"CF1003","fieldName":"preferred_contact_time","fieldValue":"Afternoon","fieldType":"text"}],"subdivisionCode":"LNPRT"},"phone":"+1-202-555-0149","email":"contact@lannisterinvestments.wes","website":"http://www.lannisterinvestments.wes","foundedDate":"1996-08-21T00:00:00Z","numberOfEmployees":2000,"revenue":500000000,"revenueCurrency":"Gold Dragons","tags":["wealth management","investment","gold"],"socialProfiles":[{"type":"linkedin","username":"lannisterinvestments","displayName":"Lannister Investments","url":"https://www.linkedin.com/in/lannisterinvestments/","avatarUrl":"https://example.com/avatar.png","email":"social@lannisterinvestments.wes","additionalInfo":null,"createdAt":"2021-05-15T14:23:01Z","updatedAt":"2023-03-27T12:35:07Z","active":true,"deleted":false}],"logo":"https://example.com/logo.png","description":"Lannister Investments is one of the leading financial institutions in Westeros, offering services ranging from wealth management to commercial banking.","stockSymbol":"LANI","parentCompanyId":null,"additionalContacts":[{"id":"CT1003","firstName":"Jaime","lastName":"Lannister","company":"Lannister Investments","email":"jaime@lannisterinvestments.wes","emails":["jaime.personal@lannister.wes","j.lannister@kingsguard.wes"],"phone":"+1-202-555-0199","phones":["+1-202-555-0101"],"address":null,"addresses":[{"id":"AD1003","contactId":"CT1003","accountId":"AC1002","firstName":"Jaime","lastName":"Lannister","name":"The Kingsguard Quarters","companyName":"Lannister Investments","email":"jaime@lannisterinvestments.wes","phone":"+1-202-555-0199","street":"1 Red Keep","addressLine2":"Room 001","city":"King's Landing","province":"Crownlands","region":"Westeros","postalCode":"90002","postalCodeExtension":"4321","country":"Westeros","countryCode":"WE","type":"work","geoLocation":{"latitude":35.2281,"longitude":-80.8435,"altitude":150,"accuracy":20,"altitudeAccuracy":15,"heading":180,"speed":0,"timestamp":"2023-04-12T08:00:00Z"},"customFields":[],"subdivisionCode":"KGLND"}],"birthday":"1980-06-15T00:00:00Z","relationship":"Brother","note":"Jaime Lannister, the Kingslayer, currently serves as the head of security.","notes":null,"tags":["kingsguard","security","lannister"],"websites":["http://www.jaimelannister.wes"],"socialProfiles":[{"type":"facebook","username":"jaime.lannister","displayName":"Jaime Lannister","url":"https://www.facebook.com/jaime.lannister","avatarUrl":"https://example.com/jaime/avatar.png","email":"jaime.personal@lannister.wes","additionalInfo":null,"createdAt":"2013-09-03T12:12:12Z","updatedAt":"2022-12-25T18:30:00Z","active":true,"deleted":false}],"customFields":[{"id":"CF1004","fieldName":"nickname","fieldValue":"Kingslayer","fieldType":"text"}]}],"incorporationCountry":"Westeros","incorporationDate":"1996-08-21T00:00:00Z","taxId":"WES999999","regulatoryStatus":"Compliant","dunsNumber":"85-123-4567"},"passthrough":{},"meta":{"timestamp":1704752424401,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getOne","commonModel":"Companies","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}},"x-speakeasy-name-override":"get"},"delete":{"tags":["Companies"],"summary":"Delete companies","description":"Delete a single companies record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string"},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure","minLength":30,"maxLength":50},"statusCode":{"type":"integer","format":"int32","enum":[200,400,500]},"unified":{"type":"object"},"passthrough":{"type":"object"},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"},"key":{"type":"string","format":"string"}}},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | update | create | delete"},"commonModel":{"type":"string","format":"string"},"commonModelVersion":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"hash":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"totalTransactions":{"type":"integer","format":"int32"}}}}},"example":{"status":"success","statusCode":200,"unified":{},"passthrough":{},"meta":{"timestamp":1704752424402,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"delete","commonModel":"Companies","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}},"x-speakeasy-name-override":"delete"},"patch":{"tags":["Companies"],"summary":"Update companies","description":"Update a single companies record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string"},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number","format":"id"},"name":{"type":"string","format":"name"},"legalName":{"type":"string","format":"legalName"},"type":{"type":"string","format":"type"},"industry":{"type":"string","format":"industry"},"address":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"altitude":{"type":"number"},"accuracy":{"type":"number"},"altitudeAccuracy":{"type":"number"},"heading":{"type":"number"},"speed":{"type":"number"},"timestamp":{"type":"number"}}},"customFields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"fieldName":{"type":"string"},"fieldValue":{"type":"string"},"fieldType":{"type":"string","format":"","enum":["text","number","date","boolean","enum","json","array"]}}}},"subdivisionCode":{"type":"string"}}},"phone":{"type":"string","format":"phone"},"email":{"type":"string","format":"email"},"website":{"type":"string","format":"website"},"foundedDate":{"type":"number","format":"1234567890"},"numberOfEmployees":{"type":"number","format":"numberOfEmployees"},"revenue":{"type":"number","format":"revenue"},"revenueCurrency":{"type":"string","format":"revenueCurrency"},"tags":{"type":"array","items":{"type":"string"}},"socialProfiles":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","format":"","enum":["facebook","twitter","linkedin","instagram","tiktok","pinterest","youtube","other"]},"username":{"type":"string"},"displayName":{"type":"string"},"url":{"type":"string"},"avatarUrl":{"type":"string"},"email":{"type":"string"},"additionalInfo":{"type":"object"},"createdAt":{"type":"number"},"updatedAt":{"type":"number"},"active":{"type":"boolean"},"deleted":{"type":"boolean"}}}},"logo":{"type":"string","format":"logo"},"description":{"type":"string","format":"description"},"stockSymbol":{"type":"string","format":"stockSymbol"},"parentCompanyId":{"type":"string","format":"parentCompanyId"},"additionalContacts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"company":{"type":"string"},"email":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"phone":{"type":"string"},"phones":{"type":"array","items":{"type":"string"}},"address":{"type":"object"},"addresses":{"type":"array","items":{"type":"object"}},"birthday":{"type":"number"},"relationship":{"type":"string"},"note":{"type":"string"},"notes":{"type":"object"},"tags":{"type":"array","items":{"type":"string"}},"websites":{"type":"array","items":{"type":"string"}},"socialProfiles":{"type":"array","items":{"type":"object"}},"customFields":{"type":"array","items":{"type":"object"}}}}},"incorporationCountry":{"type":"string","format":"incorporationCountry"},"incorporationDate":{"type":"number","format":"1234567890"},"taxId":{"type":"string","format":"taxId"},"regulatoryStatus":{"type":"string","format":"regulatoryStatus"},"dunsNumber":{"type":"string","format":"dunsNumber"}}}}}},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure","minLength":30,"maxLength":50},"statusCode":{"type":"integer","format":"int32","enum":[200,400,500]},"unified":{"type":"object","properties":{"count":{"type":"integer","format":"int32"}}},"passthrough":{"type":"object"},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"},"key":{"type":"string","format":"string"}}},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | update | create | delete"},"commonModel":{"type":"string","format":"string"},"commonModelVersion":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"hash":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"totalTransactions":{"type":"integer","format":"int32"}}}}},"example":{"status":"success","statusCode":200,"unified":{},"passthrough":{},"meta":{"timestamp":1704752424402,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"update","commonModel":"Companies","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}},"x-speakeasy-name-override":"update"},"parameters":[{"in":"header","name":"X-INTEGRATIONOS-SECRET","description":"IntegrationOS API key","required":true,"deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"header","name":"X-INTEGRATIONOS-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"type":"string","format":"string"}}]},"/companies":{"description":"List records","get":{"tags":["Companies"],"summary":"List companies","description":"Get all companies records","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure","minLength":30,"maxLength":50},"statusCode":{"type":"integer","format":"int32","enum":[200,400,500]},"unified":{"type":"array","items":{"type":"object","properties":{"id":{"type":"number","format":"id"},"name":{"type":"string","format":"name"},"legalName":{"type":"string","format":"legalName"},"type":{"type":"string","format":"type"},"industry":{"type":"string","format":"industry"},"address":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"altitude":{"type":"number"},"accuracy":{"type":"number"},"altitudeAccuracy":{"type":"number"},"heading":{"type":"number"},"speed":{"type":"number"},"timestamp":{"type":"number"}}},"customFields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"fieldName":{"type":"string"},"fieldValue":{"type":"string"},"fieldType":{"type":"string","format":"","enum":["text","number","date","boolean","enum","json","array"]}}}},"subdivisionCode":{"type":"string"}}},"phone":{"type":"string","format":"phone"},"email":{"type":"string","format":"email"},"website":{"type":"string","format":"website"},"foundedDate":{"type":"number","format":"1234567890"},"numberOfEmployees":{"type":"number","format":"numberOfEmployees"},"revenue":{"type":"number","format":"revenue"},"revenueCurrency":{"type":"string","format":"revenueCurrency"},"tags":{"type":"array","items":{"type":"string"}},"socialProfiles":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","format":"","enum":["facebook","twitter","linkedin","instagram","tiktok","pinterest","youtube","other"]},"username":{"type":"string"},"displayName":{"type":"string"},"url":{"type":"string"},"avatarUrl":{"type":"string"},"email":{"type":"string"},"additionalInfo":{"type":"object"},"createdAt":{"type":"number"},"updatedAt":{"type":"number"},"active":{"type":"boolean"},"deleted":{"type":"boolean"}}}},"logo":{"type":"string","format":"logo"},"description":{"type":"string","format":"description"},"stockSymbol":{"type":"string","format":"stockSymbol"},"parentCompanyId":{"type":"string","format":"parentCompanyId"},"additionalContacts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"company":{"type":"string"},"email":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"phone":{"type":"string"},"phones":{"type":"array","items":{"type":"string"}},"address":{"type":"object"},"addresses":{"type":"array","items":{"type":"object"}},"birthday":{"type":"number"},"relationship":{"type":"string"},"note":{"type":"string"},"notes":{"type":"object"},"tags":{"type":"array","items":{"type":"string"}},"websites":{"type":"array","items":{"type":"string"}},"socialProfiles":{"type":"array","items":{"type":"object"}},"customFields":{"type":"array","items":{"type":"object"}}}}},"incorporationCountry":{"type":"string","format":"incorporationCountry"},"incorporationDate":{"type":"number","format":"1234567890"},"taxId":{"type":"string","format":"taxId"},"regulatoryStatus":{"type":"string","format":"regulatoryStatus"},"dunsNumber":{"type":"string","format":"dunsNumber"}}}},"passthrough":{"type":"object"},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"},"key":{"type":"string","format":"string"}}},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | update | create | delete"},"commonModel":{"type":"string","format":"string"},"commonModelVersion":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"hash":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"totalTransactions":{"type":"integer","format":"int32"}}},"pagination":{"type":"object","properties":{"cursor":{"type":"string","format":"string"},"limit":{"type":"integer","format":"int32"}}}}},"example":{"status":"success","statusCode":200,"unified":[{"id":1,"name":"Lannister Investments","legalName":"Lannister Holdings Inc.","type":"Private","industry":"Banking and Finance","address":{"id":"AD1002","contactId":"CT1002","accountId":"AC1002","firstName":"Cersei","lastName":"Lannister","name":"Casterly Rock Address","companyName":"Lannister Investments","email":"info@lannisterinvestments.wes","phone":"+1-202-555-0149","street":"1 Casterly Rock","addressLine2":"The Westerlands","city":"Lannisport","province":"West","region":"Westeros","postalCode":"90001","postalCodeExtension":"1234","country":"Westeros","countryCode":"WE","type":"work","geoLocation":{"latitude":35.2271,"longitude":-80.8431,"altitude":200,"accuracy":15,"altitudeAccuracy":10,"heading":90,"speed":10,"timestamp":"2023-04-12T08:00:00Z"},"customFields":[{"id":"CF1003","fieldName":"preferred_contact_time","fieldValue":"Afternoon","fieldType":"text"}],"subdivisionCode":"LNPRT"},"phone":"+1-202-555-0149","email":"contact@lannisterinvestments.wes","website":"http://www.lannisterinvestments.wes","foundedDate":"1996-08-21T00:00:00Z","numberOfEmployees":2000,"revenue":500000000,"revenueCurrency":"Gold Dragons","tags":["wealth management","investment","gold"],"socialProfiles":[{"type":"linkedin","username":"lannisterinvestments","displayName":"Lannister Investments","url":"https://www.linkedin.com/in/lannisterinvestments/","avatarUrl":"https://example.com/avatar.png","email":"social@lannisterinvestments.wes","additionalInfo":null,"createdAt":"2021-05-15T14:23:01Z","updatedAt":"2023-03-27T12:35:07Z","active":true,"deleted":false}],"logo":"https://example.com/logo.png","description":"Lannister Investments is one of the leading financial institutions in Westeros, offering services ranging from wealth management to commercial banking.","stockSymbol":"LANI","parentCompanyId":null,"additionalContacts":[{"id":"CT1003","firstName":"Jaime","lastName":"Lannister","company":"Lannister Investments","email":"jaime@lannisterinvestments.wes","emails":["jaime.personal@lannister.wes","j.lannister@kingsguard.wes"],"phone":"+1-202-555-0199","phones":["+1-202-555-0101"],"address":null,"addresses":[{"id":"AD1003","contactId":"CT1003","accountId":"AC1002","firstName":"Jaime","lastName":"Lannister","name":"The Kingsguard Quarters","companyName":"Lannister Investments","email":"jaime@lannisterinvestments.wes","phone":"+1-202-555-0199","street":"1 Red Keep","addressLine2":"Room 001","city":"King's Landing","province":"Crownlands","region":"Westeros","postalCode":"90002","postalCodeExtension":"4321","country":"Westeros","countryCode":"WE","type":"work","geoLocation":{"latitude":35.2281,"longitude":-80.8435,"altitude":150,"accuracy":20,"altitudeAccuracy":15,"heading":180,"speed":0,"timestamp":"2023-04-12T08:00:00Z"},"customFields":[],"subdivisionCode":"KGLND"}],"birthday":"1980-06-15T00:00:00Z","relationship":"Brother","note":"Jaime Lannister, the Kingslayer, currently serves as the head of security.","notes":null,"tags":["kingsguard","security","lannister"],"websites":["http://www.jaimelannister.wes"],"socialProfiles":[{"type":"facebook","username":"jaime.lannister","displayName":"Jaime Lannister","url":"https://www.facebook.com/jaime.lannister","avatarUrl":"https://example.com/jaime/avatar.png","email":"jaime.personal@lannister.wes","additionalInfo":null,"createdAt":"2013-09-03T12:12:12Z","updatedAt":"2022-12-25T18:30:00Z","active":true,"deleted":false}],"customFields":[{"id":"CF1004","fieldName":"nickname","fieldValue":"Kingslayer","fieldType":"text"}]}],"incorporationCountry":"Westeros","incorporationDate":"1996-08-21T00:00:00Z","taxId":"WES999999","regulatoryStatus":"Compliant","dunsNumber":"85-123-4567"}],"passthrough":{},"pagination":{"cursor":"23e6534fa96e810b3","limit":100},"meta":{"timestamp":1704752424402,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getMany","commonModel":"Companies","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}},"x-speakeasy-name-override":"list"},"post":{"tags":["Companies"],"summary":"Create companies","description":"Create a single companies record","requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number","format":"id"},"name":{"type":"string","format":"name"},"legalName":{"type":"string","format":"legalName"},"type":{"type":"string","format":"type"},"industry":{"type":"string","format":"industry"},"address":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"altitude":{"type":"number"},"accuracy":{"type":"number"},"altitudeAccuracy":{"type":"number"},"heading":{"type":"number"},"speed":{"type":"number"},"timestamp":{"type":"number"}}},"customFields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"fieldName":{"type":"string"},"fieldValue":{"type":"string"},"fieldType":{"type":"string","format":"","enum":["text","number","date","boolean","enum","json","array"]}}}},"subdivisionCode":{"type":"string"}}},"phone":{"type":"string","format":"phone"},"email":{"type":"string","format":"email"},"website":{"type":"string","format":"website"},"foundedDate":{"type":"number","format":"1234567890"},"numberOfEmployees":{"type":"number","format":"numberOfEmployees"},"revenue":{"type":"number","format":"revenue"},"revenueCurrency":{"type":"string","format":"revenueCurrency"},"tags":{"type":"array","items":{"type":"string"}},"socialProfiles":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","format":"","enum":["facebook","twitter","linkedin","instagram","tiktok","pinterest","youtube","other"]},"username":{"type":"string"},"displayName":{"type":"string"},"url":{"type":"string"},"avatarUrl":{"type":"string"},"email":{"type":"string"},"additionalInfo":{"type":"object"},"createdAt":{"type":"number"},"updatedAt":{"type":"number"},"active":{"type":"boolean"},"deleted":{"type":"boolean"}}}},"logo":{"type":"string","format":"logo"},"description":{"type":"string","format":"description"},"stockSymbol":{"type":"string","format":"stockSymbol"},"parentCompanyId":{"type":"string","format":"parentCompanyId"},"additionalContacts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"company":{"type":"string"},"email":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"phone":{"type":"string"},"phones":{"type":"array","items":{"type":"string"}},"address":{"type":"object"},"addresses":{"type":"array","items":{"type":"object"}},"birthday":{"type":"number"},"relationship":{"type":"string"},"note":{"type":"string"},"notes":{"type":"object"},"tags":{"type":"array","items":{"type":"string"}},"websites":{"type":"array","items":{"type":"string"}},"socialProfiles":{"type":"array","items":{"type":"object"}},"customFields":{"type":"array","items":{"type":"object"}}}}},"incorporationCountry":{"type":"string","format":"incorporationCountry"},"incorporationDate":{"type":"number","format":"1234567890"},"taxId":{"type":"string","format":"taxId"},"regulatoryStatus":{"type":"string","format":"regulatoryStatus"},"dunsNumber":{"type":"string","format":"dunsNumber"}},"required":["id","name","legalName","type","industry","address","phone","email","website","foundedDate","numberOfEmployees","revenue","revenueCurrency","tags","socialProfiles","logo","description","stockSymbol","parentCompanyId","additionalContacts","incorporationCountry","incorporationDate","taxId","regulatoryStatus","dunsNumber"]}}},"required":true},"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure","minLength":30,"maxLength":50},"statusCode":{"type":"integer","format":"int32","enum":[200,400,500]},"unified":{"type":"object","properties":{"id":{"type":"number","format":"id"},"name":{"type":"string","format":"name"},"legalName":{"type":"string","format":"legalName"},"type":{"type":"string","format":"type"},"industry":{"type":"string","format":"industry"},"address":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object","properties":{"latitude":{"type":"number"},"longitude":{"type":"number"},"altitude":{"type":"number"},"accuracy":{"type":"number"},"altitudeAccuracy":{"type":"number"},"heading":{"type":"number"},"speed":{"type":"number"},"timestamp":{"type":"number"}}},"customFields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"fieldName":{"type":"string"},"fieldValue":{"type":"string"},"fieldType":{"type":"string","format":"","enum":["text","number","date","boolean","enum","json","array"]}}}},"subdivisionCode":{"type":"string"}}},"phone":{"type":"string","format":"phone"},"email":{"type":"string","format":"email"},"website":{"type":"string","format":"website"},"foundedDate":{"type":"number","format":"1234567890"},"numberOfEmployees":{"type":"number","format":"numberOfEmployees"},"revenue":{"type":"number","format":"revenue"},"revenueCurrency":{"type":"string","format":"revenueCurrency"},"tags":{"type":"array","items":{"type":"string"}},"socialProfiles":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","format":"","enum":["facebook","twitter","linkedin","instagram","tiktok","pinterest","youtube","other"]},"username":{"type":"string"},"displayName":{"type":"string"},"url":{"type":"string"},"avatarUrl":{"type":"string"},"email":{"type":"string"},"additionalInfo":{"type":"object"},"createdAt":{"type":"number"},"updatedAt":{"type":"number"},"active":{"type":"boolean"},"deleted":{"type":"boolean"}}}},"logo":{"type":"string","format":"logo"},"description":{"type":"string","format":"description"},"stockSymbol":{"type":"string","format":"stockSymbol"},"parentCompanyId":{"type":"string","format":"parentCompanyId"},"additionalContacts":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"company":{"type":"string"},"email":{"type":"string"},"emails":{"type":"array","items":{"type":"string"}},"phone":{"type":"string"},"phones":{"type":"array","items":{"type":"string"}},"address":{"type":"object"},"addresses":{"type":"array","items":{"type":"object"}},"birthday":{"type":"number"},"relationship":{"type":"string"},"note":{"type":"string"},"notes":{"type":"object"},"tags":{"type":"array","items":{"type":"string"}},"websites":{"type":"array","items":{"type":"string"}},"socialProfiles":{"type":"array","items":{"type":"object"}},"customFields":{"type":"array","items":{"type":"object"}}}}},"incorporationCountry":{"type":"string","format":"incorporationCountry"},"incorporationDate":{"type":"number","format":"1234567890"},"taxId":{"type":"string","format":"taxId"},"regulatoryStatus":{"type":"string","format":"regulatoryStatus"},"dunsNumber":{"type":"string","format":"dunsNumber"}}},"passthrough":{"type":"object"},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"},"key":{"type":"string","format":"string"}}},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | update | create | delete"},"commonModel":{"type":"string","format":"string"},"commonModelVersion":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"hash":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"totalTransactions":{"type":"integer","format":"int32"}}}}},"example":{"status":"success","statusCode":200,"unified":{"id":1,"name":"Lannister Investments","legalName":"Lannister Holdings Inc.","type":"Private","industry":"Banking and Finance","address":{"id":"AD1002","contactId":"CT1002","accountId":"AC1002","firstName":"Cersei","lastName":"Lannister","name":"Casterly Rock Address","companyName":"Lannister Investments","email":"info@lannisterinvestments.wes","phone":"+1-202-555-0149","street":"1 Casterly Rock","addressLine2":"The Westerlands","city":"Lannisport","province":"West","region":"Westeros","postalCode":"90001","postalCodeExtension":"1234","country":"Westeros","countryCode":"WE","type":"work","geoLocation":{"latitude":35.2271,"longitude":-80.8431,"altitude":200,"accuracy":15,"altitudeAccuracy":10,"heading":90,"speed":10,"timestamp":"2023-04-12T08:00:00Z"},"customFields":[{"id":"CF1003","fieldName":"preferred_contact_time","fieldValue":"Afternoon","fieldType":"text"}],"subdivisionCode":"LNPRT"},"phone":"+1-202-555-0149","email":"contact@lannisterinvestments.wes","website":"http://www.lannisterinvestments.wes","foundedDate":"1996-08-21T00:00:00Z","numberOfEmployees":2000,"revenue":500000000,"revenueCurrency":"Gold Dragons","tags":["wealth management","investment","gold"],"socialProfiles":[{"type":"linkedin","username":"lannisterinvestments","displayName":"Lannister Investments","url":"https://www.linkedin.com/in/lannisterinvestments/","avatarUrl":"https://example.com/avatar.png","email":"social@lannisterinvestments.wes","additionalInfo":null,"createdAt":"2021-05-15T14:23:01Z","updatedAt":"2023-03-27T12:35:07Z","active":true,"deleted":false}],"logo":"https://example.com/logo.png","description":"Lannister Investments is one of the leading financial institutions in Westeros, offering services ranging from wealth management to commercial banking.","stockSymbol":"LANI","parentCompanyId":null,"additionalContacts":[{"id":"CT1003","firstName":"Jaime","lastName":"Lannister","company":"Lannister Investments","email":"jaime@lannisterinvestments.wes","emails":["jaime.personal@lannister.wes","j.lannister@kingsguard.wes"],"phone":"+1-202-555-0199","phones":["+1-202-555-0101"],"address":null,"addresses":[{"id":"AD1003","contactId":"CT1003","accountId":"AC1002","firstName":"Jaime","lastName":"Lannister","name":"The Kingsguard Quarters","companyName":"Lannister Investments","email":"jaime@lannisterinvestments.wes","phone":"+1-202-555-0199","street":"1 Red Keep","addressLine2":"Room 001","city":"King's Landing","province":"Crownlands","region":"Westeros","postalCode":"90002","postalCodeExtension":"4321","country":"Westeros","countryCode":"WE","type":"work","geoLocation":{"latitude":35.2281,"longitude":-80.8435,"altitude":150,"accuracy":20,"altitudeAccuracy":15,"heading":180,"speed":0,"timestamp":"2023-04-12T08:00:00Z"},"customFields":[],"subdivisionCode":"KGLND"}],"birthday":"1980-06-15T00:00:00Z","relationship":"Brother","note":"Jaime Lannister, the Kingslayer, currently serves as the head of security.","notes":null,"tags":["kingsguard","security","lannister"],"websites":["http://www.jaimelannister.wes"],"socialProfiles":[{"type":"facebook","username":"jaime.lannister","displayName":"Jaime Lannister","url":"https://www.facebook.com/jaime.lannister","avatarUrl":"https://example.com/jaime/avatar.png","email":"jaime.personal@lannister.wes","additionalInfo":null,"createdAt":"2013-09-03T12:12:12Z","updatedAt":"2022-12-25T18:30:00Z","active":true,"deleted":false}],"customFields":[{"id":"CF1004","fieldName":"nickname","fieldValue":"Kingslayer","fieldType":"text"}]}],"incorporationCountry":"Westeros","incorporationDate":"1996-08-21T00:00:00Z","taxId":"WES999999","regulatoryStatus":"Compliant","dunsNumber":"85-123-4567"},"passthrough":{},"meta":{"timestamp":1704752424403,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"create","commonModel":"Companies","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}},"x-speakeasy-name-override":"create"},"parameters":[{"in":"header","name":"X-INTEGRATIONOS-SECRET","description":"IntegrationOS API key","required":true,"deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"header","name":"X-INTEGRATIONOS-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"type":"string","format":"string"}}]},"/companies/count":{"description":"Get count of records","get":{"tags":["Companies"],"summary":"Get companies count","description":"Get the count of companies records","responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure","minLength":30,"maxLength":50},"statusCode":{"type":"integer","format":"int32","enum":[200,400,500]},"unified":{"type":"object","properties":{"count":{"type":"integer","format":"int32"}}},"passthrough":{"type":"object"},"meta":{"type":"object","properties":{"timestamp":{"type":"integer","format":"int64"},"latency":{"type":"integer","format":"int32"},"platformRateLimitRemaining":{"type":"integer","format":"int32"},"rateLimitRemaining":{"type":"integer","format":"int32"},"cache":{"type":"object","properties":{"hit":{"type":"boolean"},"ttl":{"type":"integer","format":"int32"},"key":{"type":"string","format":"string"}}},"transactionKey":{"type":"string","format":"string"},"txn":{"type":"string","format":"string"},"platform":{"type":"string","format":"string"},"platformVersion":{"type":"string","format":"string"},"connectionDefinitionKey":{"type":"string","format":"string"},"action":{"type":"string","format":"getOne | getMany | getCount | update | create | delete"},"commonModel":{"type":"string","format":"string"},"commonModelVersion":{"type":"string","format":"string"},"connectionKey":{"type":"string","format":"string"},"hash":{"type":"string","format":"string"},"heartbeats":{"type":"array","items":{"type":"string","format":"string"}},"totalTransactions":{"type":"integer","format":"int32"}}}}},"example":{"status":"success","statusCode":200,"unified":{"count":1},"passthrough":{},"meta":{"timestamp":1704752424404,"latency":36,"platformRateLimitRemaining":0,"rateLimitRemaining":0,"cache":{"hit":false,"ttl":0,"key":""},"transactionKey":"tx_ky::7fb4a1ee61454e61adf79f37251affc4","txn":"727cc0ecc6144f6782ca0d72486d3dea","platform":"PlatformName","platformVersion":"v1","connectionDefinitionKey":"conn_def::7923c71ff5ae4119870bc42182c50cb7","action":"getCount","commonModel":"Companies","commonModelVersion":"1.0.0","connectionKey":"platform::8e09f436-601a-40c4-97cd-f9347e924418","hash":"3eafdfa35a39411ca4992e7139c69d854f2135ad956c45449a7b6a98288d59a61177f386801d460ca3ee3884635d575b","heartbeats":[],"totalTransactions":1}}}}}},"x-speakeasy-name-override":"count"},"parameters":[{"in":"header","name":"X-INTEGRATIONOS-SECRET","description":"IntegrationOS API key","required":true,"deprecated":false,"schema":{"type":"string","format":"string"}},{"in":"header","name":"X-INTEGRATIONOS-CONNECTION-KEY","description":"The unique identifier of a Connected Account","required":true,"deprecated":false,"schema":{"type":"string","format":"string"}}]},"/leads/{id}":{"summary":"Get a single record","get":{"tags":["Leads"],"summary":"Get leads","description":"Get a single leads record","parameters":[{"in":"path","name":"id","description":"The id of the model","required":true,"deprecated":false,"schema":{"type":"string","format":"string","minLength":30,"maxLength":50},"example":"cm::F5YOwU3hwyA::vTW3YaBvT3CHilxcppJOrQ"}],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","format":"success | failure","minLength":30,"maxLength":50},"statusCode":{"type":"integer","format":"int32","enum":[200,400,500]},"unified":{"type":"object","properties":{"id":{"type":"string","format":"id"},"name":{"type":"string","format":"name"},"firstName":{"type":"string","format":"firstName"},"middleName":{"type":"string","format":"middleName"},"lastName":{"type":"string","format":"lastName"},"email":{"type":"string","format":"email"},"opportunities":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"description":{"type":"string"},"amount":{"type":"number"},"currency":{"type":"string"},"stage":{"type":"string"},"probability":{"type":"number"},"closeDate":{"type":"number"},"type":{"type":"string"},"nextStep":{"type":"string"},"leadSource":{"type":"string"},"isClosed":{"type":"boolean"},"isWon":{"type":"boolean"},"createdDate":{"type":"number"},"lastModifiedDate":{"type":"number"},"lostReason":{"type":"string"},"campaign":{"type":"object"},"account":{"type":"object"},"contacts":{"type":"array","items":{"type":"object"}},"owner":{"type":"object"},"attachments":{"type":"array","items":{"type":"object"}},"notes":{"type":"array","items":{"type":"string"}},"customFields":{"type":"array","items":{"type":"object"}}}}},"emailType":{"type":"string","format":"emailType","enum":["Work","Personal","Other"]},"phone":{"type":"string","format":"phone"},"phoneType":{"type":"string","format":"phoneType","enum":["Work","Mobile","Home","Other"]},"companyName":{"type":"string","format":"companyName"},"jobTitle":{"type":"string","format":"jobTitle"},"website":{"type":"string","format":"website"},"leadSource":{"type":"object","properties":{"sourceId":{"type":"string"},"sourceName":{"type":"string"},"details":{"type":"string"}}},"leadStatus":{"type":"string","format":"leadStatus","enum":["New","Open","InProcess","Converted","Unqualified","AttemptedToContact","Connected","BadTiming"]},"industry":{"type":"string","format":"industry"},"numberOfEmployees":{"type":"number","format":"numberOfEmployees"},"annualRevenue":{"type":"number","format":"annualRevenue"},"addresses":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"contactId":{"type":"string"},"accountId":{"type":"string"},"firstName":{"type":"string"},"lastName":{"type":"string"},"name":{"type":"string"},"companyName":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"street":{"type":"string"},"addressLine2":{"type":"string"},"city":{"type":"string"},"province":{"type":"string"},"region":{"type":"string"},"postalCode":{"type":"string"},"postalCodeExtension":{"type":"string"},"country":{"type":"string"},"countryCode":{"type":"string"},"type":{"type":"string","format":"","enum":["home","work","other"]},"geoLocation":{"type":"object"},"customFields":{"type":"array","items":{"type":"object"}},"subdivisionCode":{"type":"string"}}}},"createdAt":{"type":"number","format":"1234567890"},"updatedAt":{"type":"number","format":"1234567890"},"preferredContactMethod":{"type":"string","format":"preferredContactMethod","enum":["Email","Phone","Text","Mail","InPerson"]},"socialProfiles":{"type":"array","items":{"type":"object","properties":{"type":{"type":"string","format":"","enum":["facebook","twitter","linkedin","instagram","tiktok","pinterest","youtube","other"]},"username":{"type":"string"},"displayName":{"type":"string"},"url":{"type":"string"},"avatarUrl":{"type":"string"},"email":{"type":"string"},"additionalInfo":{"type":"object"},"createdAt":{"type":"number"},"updatedAt":{"type":"number"},"active":{"type":"boolean"},"deleted":{"type":"boolean"}}}},"customFields":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"fieldName":{"type":"string"},"fieldValue":{"type":"string"},"fieldType":{"type":"string","format":"","enum":["text","number","date","boolean","enum","json","array"]}}}},"notes":{"type":"array","items":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"content":{"type":"string"},"createdAt":{"type":"number"},"updatedAt":{"type":"number"},"lastAccesse
[...]
